-semantic_form_for @user do |f|
  =f.input :name
  =f.input :phonenum, :label => "Phone Number", :input_html => {:size => 13}
  %li 
    =f.label :role
    =f.collection_select :role, User::ROLES, :to_s, :titleize
  =f.commit_button