-semantic_form_for @user do |f|
  =f.input :name
  =f.input :phonenum, :label => "Phone Number", :input_html => {:size => 13}
  %li 
    Role
    =collection_select :user, :role_ids, Role.find(:all, :order => 'name ASC'), :id, :name, { :selected => @user.role_ids }, {:name => 'user[role_ids][]' }
  =f.commit_button