-semantic_form_for @user do |f|
  =f.input :name
  =f.input :phonenum, :label => "Phone Number"


  -for role in Role.all
    =check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)
    =h role.name 
 
  =f.commit_button