-title "Users"
%table
  %tr
    %th Username
    %th Phone Number
    %th Email Address
  -for user in @users
    %tr
      %td
        -if user.name.blank?
          = link_to user.email, user_path(user)
        -else
          =link_to user.name, user_path(user)
      %td
        -unless user.phonenum.blank?
          =user.phonenum
      %td
        =user.email
      %td
        =link_to "Show", user 
      %td
        =link_to "Edit", edit_user_path(user) 
      %td
        =link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete 
