%li
  %p
    Name:
    =@user.name
%li
  %p
    Phone Number:
    =@user.phonenum
%li
  %p
    Email:
    =@user.email

-unless @user.transactions.blank?
  -@vals = @user.transactions.find(:all, :order => "created_at DESC", :limit => 5)
  %p 
    Last
    =@vals.size
    Transactions
    -for val in @vals
      %li    
        =val.amount.to_s
        Awarded on
        =val.updated_at.strftime("%D")
        =val.character.name