=f.input :name
=f.input :city, :include_blank => false
=f.input :playernote, :label => "Character notes"
-if current_user.role.include?("admin") || current_user.role.include?("support")
  =f.input :user
-else
  =f.input :user_id, :as => :hidden, :value=> current_user.id

-if current_user.role.include? ("storyteller") || current_user.role.include? ("admin") 
  =f.input :stnote, :label => "ST visible notes"
