<h1>New character</h1>

<% semantic_form_for(@character, :html => {:class => 'validate'}) do |form| %>
  <% form.inputs do %>
        <%= form.input :name %>
        <%= form.input :city, :include_blank => false %>
  <% end %>
  <% form.buttons do %> 
    <%= form.commit_button 'Create',
          :button_html => { :disable_with => 'Please wait...' } %>
  <% end %>
<% end %>
