%p
  %li
    =@character.name
    From
    =@character.city.name
-unless @character.user.nil?
  -unless @character.user.name.blank?
    %p
      Created by
      =@character.user.name

-unless @character.transactions.nil?
  -@vals = @character.transactions.find(:all, :order => "created_at DESC")
  %p
    Current XP
    -total = 0
    -for value in @vals
      -total = value.amount + total
    =total
  %p
    Total XP
    -totalxp = 0
    -for value in @vals
      -unless value.amount < 1
        -totalxp = value.amount + totalxp
    =totalxp
  %p 
    Last
    =@vals.size
    Transactions
    -for val in @vals
      %li    
        =val.amount.to_s
        xp, Awarded on
        =val.updated_at.strftime("%D")
        For "
        =val.reason
        "
