%p
  %li
    =@character.name
    From
    =@character.city.name
-unless @character.user.nil?
  -unless @character.user.name.blank?
    %p
      Created by
      =@character.user.name
-unless @character.xp.nil?
  %p
    Current XP
    =@character.xp.to_s
-unless @character.transactions.blank?
  -@vals = @character.transactions.find(:all, :order => "created_at DESC", :limit => 5)
  %p 
    Last
    =@vals.count
    Transactions
    -for val in @vals
      %li    
        =val.amount.to_s
        Awarded on
        =val.updated_at.strftime("%D")
        For "
        =val.reason
        "