-title "Cities"

%table
  %tr
    %th 
      Name
    -for city in @cities
      %tr
        %td
          %h= city.name 
        %td
          =link_to "Show", city 
        %td
          =link_to "Edit", edit_city_path(city) 
        %td
          =link_to "Destroy", city, :confirm => 'Are you sure?', :method => :delete
%p
  = link_to "New City", new_city_path