=f.input :character, :include_blank => true
=f.input :category, :as => :select, :collection => ["Attendance","Downtime","Spend","Other"], :value_method => :to_s
=f.input :reason
=f.input :amount
-if current_user.role == "admin"
  =f.input :user
-else
  =f.input :user_id, :as => :hidden, :value=> current_user.id
