%script{ :type => "text/javascript" }
  function handleSelection(id) {
  alert('ID selected : ' + id);
  }

-title "Transactions"
=jqgrid("Transactions", "transactions", "/transactions",[{ :field => "id", :label => "ID", :width => 35, :resizable => false },{ :field => "user.name", :label => "User" },{ :field => "character_id", :label => "Character" },{ :field => "amount", :label => "Amount", :width => 55 },{ :field => "category", :label => "Type" },{ :field => "reason", :label => "Reason" },{ :field => "formatted_created_at", :label => "Created At" }],{:search => "false", :height => 330, :rows_per_page => 25})

%p
  =link_to "New Transaction", new_transaction_path